<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
td, tr{ 
        font-size: 15px;
    }
    a{
        color: #642DFF;
    }
		w3-button{
			color: green;

		}

</style>
<h4 class="w3-padding-top">Welcome {{name}}</h4>
<p>Here are your stories</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <!--<th>Status</th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'DD MMMM, h:mm:ss a'}}</td>
            <!--<td><span class="dash-status">{{status}}</span></td>-->
            <td>
                <a href="/stories/edit/{{_id}}" class="w3-button">
                    Edit
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="w3-button ">
                        Del
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>You have not created any stories</p>
{{/if}}
