<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SM1QHRV5E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3SM1QHRV5E');
</script>

<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
<style>
	.date{
		font-size: 10px;
		color: grey;
	}
	.chip{
		background-color: white;
	}
	p,h1, h2, h3, h4, h5{
		font-family: DM Sans;

	}
	.card-image{
		box-shadow: 0;
	}
	.bhr{
  border: linear-gradient(45deg, #d8cee6, #fff5ff);
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.button {

		background: rgb(177,98,255);
background: linear-gradient(90deg, rgba(177,98,255,1) 0%, rgba(219,143,173,1) 100%);

		border: none;
		color: white;
		padding: 6px 12px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		margin: 4px 2px;
		transition-duration: 0.4s;
		cursor: pointer;
box-shadow:  20px -20px 60px #ad8b8f,
             -20px 20px 60px #ffffff;
	}

	.button2 {
background: rgb(177,98,255);
background: linear-gradient(90deg, rgba(177,98,255,1) 0%, rgba(219,143,173,1) 100%);
		color: white;

		font-family: DM Sans;
		font-weight: light;
		border-radius: 3px;
box-shadow:  5px 5px 26px #cfc8d9,
             -5px -5px 26px #ffffff;

	}

	.button2:hover {
		background: rgb(219,143,173);
background: linear-gradient(90deg, rgba(219,143,173,1) 0%, rgba(177,98,255,1) 100%);
box-shadow:  5px 5px 26px #cfc8d9,
             -5px -5px 26px #ffffff;

	}
	body{
		background-color:  #f3ebff;
	}
	.card, .chip{
		border-radius: 14px;
background: #f3ebff;
box-shadow:  5px 5px 26px #cfc8d9,
             -5px -5px 26px #ffffff;
	}
	.padding{
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
	}


</style>

<h5>Stories</h5>


<div class="row">
    {{#each stories}}
    <div class="s12">
        <div class="card">
					
					
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content left-align">
							<div class="flex flex-row">
  								<div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a class="w3-text-black" href="/stories/user/{{user._id}}">{{user.displayName}}</a>
										
                	</div>
  <div class="date"><p>{{formatDate createdAt 'DD MMMM YY, h:mm a'}}</p></div>

</div>
<hr class="bhr">
							<div class="card padding">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
								</div>
                <hr class="bhr">
								
								<div class="w3-row w3-center ">

							
				<a href="/stories/{{_id}}"><button type="button"  class="button button2 w3-right" >Read more</button></a>


				

						</div>
            </div>

						
        </div>
    </div>

    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>


<script>
	const shareButton=document.querySelector('.share-button');
			const shareDialog = document.querySelector('.share-dialog')
			const closeButton = document.querySelector('.close-button')	

			shareButton.addEventListener('click', event => {
				if (navigator.share){
					navigator.share({
						title:'Share',
						url: 'https://www.minutes.trueblueidea.com/stories/_id'
					}).then(() => {
						console.log('Thanks');
					})
					.catch(console.error);
				} else {
					shareDialog.classList.add('is-open');
				}
			});


		
</script>

